[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
opencv-python = "*"
#mediapipe = "*"
cvzone = "*"
mediapipe = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
